---
layout: default
---

<div class="container">
  <div class="header"><h1>Jesse Wardle</h1></div>
  <div class="bio">
    <h1>Bio</h1>
    <p>Lorem ipsum dolor sit emet...
  </div>
  <div class="nav">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <div class="main">
    <div class="article">
      <hgroup>
        <h1>Article Title</h1>
        <h2>Article Subtext</h2>
      </hgroup>
      <p>
        Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit. Etiam suscipit libero nec velit tristique ultricies. Quisque pretium varius dolor, sit amet sagittis eros laoreet nec. Fusce porttitor, tellus sed aliquet commodo, augue ante sagittis neque, a <a href="#">tempus</a> mi felis a est. Fusce suscipit elit eget erat sodales scelerisque. Nulla facilisi. Ut leo dui, bibendum id rutrum ac, vestibulum nec velit. Donec ultricies condimentum lorem at cursus. Donec venenatis urna sed purus imperdiet id porta nunc tempor. Ut dictum dictum nisl et vehicula. Quisque mauris dui, placerat vel <a href="#">pretium</a> id, porttitor ac tellus. Nam in dui sed nunc luctus tempor vel non enim.
      </p>
    </div>
    <div class="article-list">
      <ul class="article-list">
        <li>
          <h1><a href="#">Article Title</a></h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit libero nec velit tristique ultricies. Quisque pretium varius dolor, sit amet sagittis eros laoreet nec...</p>
        </li>
        <li>
          <h1><a href="#">Article Title</a></h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit libero nec velit tristique ultricies. Quisque pretium varius dolor, sit amet sagittis eros laoreet nec...</p>
        </li>
        <li>
          <h1><a href="#">Article Title</a></h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit libero nec velit tristique ultricies. Quisque pretium varius dolor, sit amet sagittis eros laoreet nec...</p>
        </li>
      </ul>
      <ol class="paginate">
        <li><a href="#"><</a></li>
        <li>1</li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">></a></li>
      </ol>
    </div>
  </div>
  <div class="footer">Footer</div>
</div>
